In [1]:
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV

In [4]:
dict = {
    'id': [1,2,3] ,
    'age': [20,30,40],
    'salary':[100000,200000,3000000]
}
import pandas as pd
df  = pd.DataFrame(dict)

In [8]:
df['column'] = df['salary'].apply(lambda x : 1 if x>50000 else 0)

In [9]:
df.head()

   id  age   salary  column
0   1   20   100000       1
1   2   30   200000       1
2   3   40  3000000       1

In [10]:
df['column1'] = (df['salary']>50000).astype('int')

In [11]:
df.head()

   id  age   salary  column  column1
0   1   20   100000       1        1
1   2   30   200000       1        1
2   3   40  3000000       1        1

In [15]:
def above_50000(x):
    if x>5000:
        return 1
    else:
        return 0    

df['column2'] = df['salary'].apply(above_50000)

In [16]:
df.head()

   id  age   salary  column  column1  column2
0   1   20   100000       1        1        1
1   2   30   200000       1        1        1
2   3   40  3000000       1        1        1

In [19]:
import numpy as np
from sklearn.metrics import r2_score
y = np.array([1,2,3,4])
y_cap = np.array([4,3,2,1])
score = r2_score(y,y_cap)
print(score)

-3.0

In [21]:

def r2_score_manual(y,y_cap):
    ntr = np.sum(np.square(y-y_cap))
    dtr = np.sum(np.square(y-np.mean(y)))
    return (1-ntr/dtr)
r2_score_manual(y,y_cap)

-3.0

In [28]:
data = {
    'id' : [1,2,3,4,5,6,7],
    'age' : [25,26,27,28,29,30,31]
}
df1  = pd.DataFrame(data)

print(df1[(df1['age']>25) & (df1['age']<30)])

   id  age
1   2   26
2   3   27
3   4   28
4   5   29